[data-page="_global_menu"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="_global_menu"][data-itemid="chart1"] {
  width: 100%;
  height: 530px;
}
[data-page="_global_menu"][data-itemid="chart2"] {
  width: 100%;
  height: 530px;
}
[data-page="_global_menu"][data-itemid="chart3"] {
  width: 100%;
  height: 530px;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


