[data-cellid="grid_c10"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c10"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c10"][data-page="contrato_attached_ov_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c11"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c11"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c11"][data-page="contrato_attached_ov_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c13"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c13"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c13"][data-page="contrato_attached_ov_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c15"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c15"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c15"][data-page="contrato_attached_ov_edit"] {
  background-color: #336699;
  color: #000000;
}
[data-cellid="grid_c17"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c17"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c17"][data-page="contrato_attached_ov_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c18"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c18"][data-page="contrato_attached_ov_edit"][data-cellid="grid_c18"][data-page="contrato_attached_ov_edit"] {
  background-color: #f7f7f7;
}
[data-page="contrato_attached_ov_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


