[data-page="contrato_chart_estado_masterchart"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="contrato_chart_estado_masterchart"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


