[data-cellid="grid_footcell_field"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field1"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field1"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field2"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field2"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field3"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field3"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field4"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field4"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field6"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field6"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field7"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field7"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field8"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field8"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field9"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field9"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field10"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field10"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field12"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field12"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field14"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field14"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field15"][data-page="contrato_ov_list"][data-cellid="grid_footcell_field15"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="contrato_ov_list"][data-cellid="grid_headcell_checkbox"][data-page="contrato_ov_list"][data-cellid="grid_headcell_checkbox"][data-page="contrato_ov_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="contrato_ov_list"][data-cellid="grid_headcell_icons"][data-page="contrato_ov_list"][data-cellid="grid_headcell_icons"][data-page="contrato_ov_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="contrato_ov_list"][data-cellid="grid_cell_icons"][data-page="contrato_ov_list"][data-cellid="grid_cell_icons"][data-page="contrato_ov_list"] {
  height: 50px;
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="contrato_ov_list"][data-cellid="grid_cell_details"][data-page="contrato_ov_list"][data-cellid="grid_cell_details"][data-page="contrato_ov_list"] {
  white-space: nowrap;
}
[data-page="contrato_ov_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


