[data-cellid="above-grid_c"][data-page="informe_intersup4_list"][data-cellid="above-grid_c"][data-page="informe_intersup4_list"][data-cellid="above-grid_c"][data-page="informe_intersup4_list"] {
  width: 100%;
  font-family: "Roboto";
}
[data-cellid="above-grid_c6"][data-page="informe_intersup4_list"][data-cellid="above-grid_c6"][data-page="informe_intersup4_list"][data-cellid="above-grid_c6"][data-page="informe_intersup4_list"] {
  width: 100%;
  font-family: "Roboto";
}
[data-cellid="grid_footcell_field"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field1"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field1"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field2"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field2"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field3"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field3"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field4"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field4"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field5"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field5"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field6"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field6"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field7"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field7"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field8"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field8"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field9"][data-page="informe_intersup4_list"][data-cellid="grid_footcell_field9"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="informe_intersup4_list"][data-cellid="grid_headcell_checkbox"][data-page="informe_intersup4_list"][data-cellid="grid_headcell_checkbox"][data-page="informe_intersup4_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="informe_intersup4_list"][data-cellid="grid_headcell_icons"][data-page="informe_intersup4_list"][data-cellid="grid_headcell_icons"][data-page="informe_intersup4_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="informe_intersup4_list"][data-cellid="grid_cell_icons"][data-page="informe_intersup4_list"][data-cellid="grid_cell_icons"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="informe_intersup4_list"][data-cellid="grid_cell_details"][data-page="informe_intersup4_list"][data-cellid="grid_cell_details"][data-page="informe_intersup4_list"] {
  white-space: nowrap;
}
[data-page="informe_intersup4_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


