<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_modifica_track view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-vertical-field" data-fieldname="id_cont_fk" data-signal-error-for="id_cont_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_cont_fk}">
		
		{BEGIN id_cont_fk_label}{$label contrato_modifica_track id_cont_fk }{END id_cont_fk_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_cont_fk_value}	</div>

		
</div>


{END id_cont_fk_fieldblock}
											
{BEGIN cont_nit_contra_ta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta}  r-vertical-field" data-fieldname="cont_nit_contra_ta" data-signal-error-for="cont_nit_contra_ta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_nit_contra_ta}">
		
		{BEGIN cont_nit_contra_ta_label}{$label contrato_modifica_track cont_nit_contra_ta }{END cont_nit_contra_ta_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_nit_contra_ta_value}	</div>

		
</div>


{END cont_nit_contra_ta_fieldblock}
											
{BEGIN cont_fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_inicio}  r-vertical-field" data-fieldname="cont_fecha_inicio" data-signal-error-for="cont_fecha_inicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_fecha_inicio}">
		
		{BEGIN cont_fecha_inicio_label}{$label contrato_modifica_track cont_fecha_inicio }{END cont_fecha_inicio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_fecha_inicio_value}	</div>

		
</div>


{END cont_fecha_inicio_fieldblock}
											
{BEGIN cont_fechafinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechafinal}  r-vertical-field" data-fieldname="cont_fechafinal" data-signal-error-for="cont_fechafinal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_fechafinal}">
		
		{BEGIN cont_fechafinal_label}{$label contrato_modifica_track cont_fechafinal }{END cont_fechafinal_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_fechafinal_value}	</div>

		
</div>


{END cont_fechafinal_fieldblock}
											
{BEGIN cont_valorinicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorinicial}  r-vertical-field" data-fieldname="cont_valorinicial" data-signal-error-for="cont_valorinicial{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="cont_valorinicial" data-fieldname="cont_valorinicial" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_valorinicial}">
		
		{BEGIN cont_valorinicial_label}{$label contrato_modifica_track cont_valorinicial }{END cont_valorinicial_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_valorinicial_value}	</div>

		
</div>


{END cont_valorinicial_fieldblock}
											
{BEGIN cont_valormensual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-vertical-field" data-fieldname="cont_valormensual" data-signal-error-for="cont_valormensual{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_valormensual}">
		
		{BEGIN cont_valormensual_label}{$label contrato_modifica_track cont_valormensual }{END cont_valormensual_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_valormensual_value}	</div>

		
</div>


{END cont_valormensual_fieldblock}
											
{BEGIN cont_cesion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cesion}  r-vertical-field" data-fieldname="cont_cesion" data-signal-error-for="cont_cesion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="cont_cesion" data-fieldname="cont_cesion" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_cesion}">
		
		{BEGIN cont_cesion_label}{$label contrato_modifica_track cont_cesion }{END cont_cesion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_cesion_value}	</div>

		
</div>


{END cont_cesion_fieldblock}
											
{BEGIN cont_modifica_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_modifica}  r-vertical-field" data-fieldname="cont_modifica" data-signal-error-for="cont_modifica{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cont_modifica" data-fieldname="cont_modifica" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_modifica}">
		
		{BEGIN cont_modifica_label}{$label contrato_modifica_track cont_modifica }{END cont_modifica_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_modifica_value}	</div>

		
</div>


{END cont_modifica_fieldblock}
											
{BEGIN sys_last_upd_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_last_upd}  r-vertical-field" data-fieldname="sys_last_upd" data-signal-error-for="sys_last_upd{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="sys_last_upd" data-fieldname="sys_last_upd" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sys_last_upd}">
		
		{BEGIN sys_last_upd_label}{$label contrato_modifica_track sys_last_upd }{END sys_last_upd_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sys_last_upd_value}	</div>

		
</div>


{END sys_last_upd_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="contrato_modifica_track_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
