<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_ov add}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="contrato_ov_add">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Información del contrato				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Modalidad y fechas				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Objeto, Obligaciones y Plazo				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Valor y Pago				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section" id="form_section_{$pageid}" data-makeup="leftbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_nit_contra_ta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta}  r-vertical-field" 
	data-signal-error-for="cont_nit_contra_ta{$id}" {$required_attr_cont_nit_contra_ta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_nit_contra_ta}">
		{BEGIN cont_nit_contra_ta_label}{$label contrato_ov cont_nit_contra_ta }{END cont_nit_contra_ta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_nit_contra_ta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_nit_contra_ta" {$tooltipAttr contrato_ov cont_nit_contra_ta } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_nit_contra_ta }		</div>
	</div>
</div>


{END cont_nit_contra_ta_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_ano_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_ano}  r-vertical-field" 
	data-signal-error-for="cont_ano{$id}" {$required_attr_cont_ano}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cont_ano" data-fieldname="cont_ano" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_ano}">
		{BEGIN cont_ano_label}{$label contrato_ov cont_ano }{END cont_ano_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_ano_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_ano" {$tooltipAttr contrato_ov cont_ano } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_ano }		</div>
	</div>
</div>


{END cont_ano_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c8}
<td
	{$cell_section_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_munejec_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_munejec}  r-vertical-field" 
	data-signal-error-for="cont_munejec{$id}" {$required_attr_cont_munejec}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="cont_munejec" data-fieldname="cont_munejec" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_munejec}">
		{BEGIN cont_munejec_label}{$label contrato_ov cont_munejec }{END cont_munejec_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_munejec_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_munejec" {$tooltipAttr contrato_ov cont_munejec } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_munejec }		</div>
	</div>
</div>


{END cont_munejec_fieldblock}
	
								</td>
			{END cellblock_section_c8}
			 
		
							

{BEGIN cellblock_section_c9}
<td
	{$cell_section_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c9}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pre_contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pre_contnumero}  r-vertical-field" 
	data-signal-error-for="pre_contnumero{$id}" {$required_attr_pre_contnumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="pre_contnumero" data-fieldname="pre_contnumero" >

	<label class="r-edit-label control-label" for="{$labelfor_pre_contnumero}">
		{BEGIN pre_contnumero_label}{$label contrato_ov pre_contnumero }{END pre_contnumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$pre_contnumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pre_contnumero" {$tooltipAttr contrato_ov pre_contnumero } >
		<div class="text-muted" >
		{$tooltip contrato_ov pre_contnumero }		</div>
	</div>
</div>


{END pre_contnumero_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
																

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contnumero}  r-vertical-field" 
	data-signal-error-for="contnumero{$id}" {$required_attr_contnumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="contnumero" data-fieldname="contnumero" >

	<label class="r-edit-label control-label" for="{$labelfor_contnumero}">
		{BEGIN contnumero_label}{$label contrato_ov contnumero }{END contnumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contnumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contnumero" {$tooltipAttr contrato_ov contnumero } >
		<div class="text-muted" >
		{$tooltip contrato_ov contnumero }		</div>
	</div>
</div>


{END contnumero_fieldblock}
	
								</td>
			{END cellblock_section_c7}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_estado}  r-vertical-field" 
	data-signal-error-for="cont_estado{$id}" {$required_attr_cont_estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cont_estado" data-fieldname="cont_estado" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_estado}">
		{BEGIN cont_estado_label}{$label contrato_ov cont_estado }{END cont_estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_estado" {$tooltipAttr contrato_ov cont_estado } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_estado }		</div>
	</div>
</div>


{END cont_estado_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
																

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipo}  r-vertical-field" 
	data-signal-error-for="cont_tipo{$id}" {$required_attr_cont_tipo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="cont_tipo" data-fieldname="cont_tipo" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_tipo}">
		{BEGIN cont_tipo_label}{$label contrato_ov cont_tipo }{END cont_tipo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_tipo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_tipo" {$tooltipAttr contrato_ov cont_tipo } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_tipo }		</div>
	</div>
</div>


{END cont_tipo_fieldblock}
	
								</td>
			{END cellblock_section_c5}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="leftbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_tipoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipoc}  r-vertical-field" 
	data-signal-error-for="cont_tipoc{$id}" {$required_attr_cont_tipoc}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="cont_tipoc" data-fieldname="cont_tipoc" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_tipoc}">
		{BEGIN cont_tipoc_label}{$label contrato_ov cont_tipoc }{END cont_tipoc_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_tipoc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_tipoc" {$tooltipAttr contrato_ov cont_tipoc } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_tipoc }		</div>
	</div>
</div>


{END cont_tipoc_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_modalidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_modalidad}  r-vertical-field" 
	data-signal-error-for="cont_modalidad{$id}" {$required_attr_cont_modalidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="cont_modalidad" data-fieldname="cont_modalidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_modalidad}">
		{BEGIN cont_modalidad_label}{$label contrato_ov cont_modalidad }{END cont_modalidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_modalidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_modalidad" {$tooltipAttr contrato_ov cont_modalidad } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_modalidad }		</div>
	</div>
</div>


{END cont_modalidad_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c9}
<td
	{$cell_section1_c9}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="section1_c9" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_causalc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_causalc}  r-vertical-field" 
	data-signal-error-for="cont_causalc{$id}" {$required_attr_cont_causalc}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="cont_causalc" data-fieldname="cont_causalc" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_causalc}">
		{BEGIN cont_causalc_label}{$label contrato_ov cont_causalc }{END cont_causalc_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_causalc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_causalc" {$tooltipAttr contrato_ov cont_causalc } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_causalc }		</div>
	</div>
</div>


{END cont_causalc_fieldblock}
	
								</td>
			{END cellblock_section1_c9}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_acta_liquidacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_acta_liquidacion}  r-vertical-field" 
	data-signal-error-for="cont_acta_liquidacion{$id}" {$required_attr_cont_acta_liquidacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field48" {$item_integrated_edit_field48} data-pageid="{$pageid}" data-field="cont_acta_liquidacion" data-fieldname="cont_acta_liquidacion" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_acta_liquidacion}">
		{BEGIN cont_acta_liquidacion_label}{$label contrato_ov cont_acta_liquidacion }{END cont_acta_liquidacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_acta_liquidacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_acta_liquidacion" {$tooltipAttr contrato_ov cont_acta_liquidacion } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_acta_liquidacion }		</div>
	</div>
</div>


{END cont_acta_liquidacion_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
			 
																

{BEGIN cellblock_section1_c10}
<td
	{$cell_section1_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_vigencias_futuras_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_vigencias_futuras}  r-vertical-field" 
	data-signal-error-for="cont_vigencias_futuras{$id}" {$required_attr_cont_vigencias_futuras}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="cont_vigencias_futuras" data-fieldname="cont_vigencias_futuras" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_vigencias_futuras}">
		{BEGIN cont_vigencias_futuras_label}{$label contrato_ov cont_vigencias_futuras }{END cont_vigencias_futuras_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_vigencias_futuras_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_vigencias_futuras" {$tooltipAttr contrato_ov cont_vigencias_futuras } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_vigencias_futuras }		</div>
	</div>
</div>


{END cont_vigencias_futuras_fieldblock}
	
								</td>
			{END cellblock_section1_c10}
								</tr>
	 
	 
														<tr {$row_section1_3} >
										

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechaapertura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechaapertura}  r-vertical-field" 
	data-signal-error-for="cont_fechaapertura{$id}" {$required_attr_cont_fechaapertura}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="cont_fechaapertura" data-fieldname="cont_fechaapertura" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fechaapertura}">
		{BEGIN cont_fechaapertura_label}{$label contrato_ov cont_fechaapertura }{END cont_fechaapertura_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fechaapertura_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fechaapertura" {$tooltipAttr contrato_ov cont_fechaapertura } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_fechaapertura }		</div>
	</div>
</div>


{END cont_fechaapertura_fieldblock}
	
								</td>
			{END cellblock_section1_c4}
			 
																

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fecha_aprobgarantia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_aprobgarantia}  r-vertical-field" 
	data-signal-error-for="cont_fecha_aprobgarantia{$id}" {$required_attr_cont_fecha_aprobgarantia}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="cont_fecha_aprobgarantia" data-fieldname="cont_fecha_aprobgarantia" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fecha_aprobgarantia}">
		{BEGIN cont_fecha_aprobgarantia_label}{$label contrato_ov cont_fecha_aprobgarantia }{END cont_fecha_aprobgarantia_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fecha_aprobgarantia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fecha_aprobgarantia" {$tooltipAttr contrato_ov cont_fecha_aprobgarantia } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_fecha_aprobgarantia }		</div>
	</div>
</div>


{END cont_fecha_aprobgarantia_fieldblock}
	
								</td>
			{END cellblock_section1_c5}
								</tr>
	 
	 
														<tr {$row_section1_4} >
										

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_inicio}  r-vertical-field" 
	data-signal-error-for="cont_fecha_inicio{$id}" {$required_attr_cont_fecha_inicio}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fecha_inicio}">
		{BEGIN cont_fecha_inicio_label}{$label contrato_ov cont_fecha_inicio }{END cont_fecha_inicio_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fecha_inicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fecha_inicio" {$tooltipAttr contrato_ov cont_fecha_inicio } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_fecha_inicio }		</div>
	</div>
</div>


{END cont_fecha_inicio_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
			 
																

{BEGIN cellblock_section1_c7}
<td
	{$cell_section1_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechafinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechafinal}  r-vertical-field" 
	data-signal-error-for="cont_fechafinal{$id}" {$required_attr_cont_fechafinal}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fechafinal}">
		{BEGIN cont_fechafinal_label}{$label contrato_ov cont_fechafinal }{END cont_fechafinal_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fechafinal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fechafinal" {$tooltipAttr contrato_ov cont_fechafinal } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_fechafinal }		</div>
	</div>
</div>


{END cont_fechafinal_fieldblock}
	
								</td>
			{END cellblock_section1_c7}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="leftbar" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_objeto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_objeto}  r-vertical-field" 
	data-signal-error-for="cont_objeto{$id}" {$required_attr_cont_objeto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="cont_objeto" data-fieldname="cont_objeto" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_objeto}">
		{BEGIN cont_objeto_label}{$label contrato_ov cont_objeto }{END cont_objeto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_objeto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_objeto" {$tooltipAttr contrato_ov cont_objeto } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_objeto }		</div>
	</div>
</div>


{END cont_objeto_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="leftbar" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section3_0} >
										

{BEGIN cellblock_section3_c10}
<td
	{$cell_section3_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN prenumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prenumero}  r-vertical-field" 
	data-signal-error-for="prenumero{$id}" {$required_attr_prenumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="prenumero" data-fieldname="prenumero" >

	<label class="r-edit-label control-label" for="{$labelfor_prenumero}">
		{BEGIN prenumero_label}{$label contrato_ov prenumero }{END prenumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prenumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="prenumero" {$tooltipAttr contrato_ov prenumero } >
		<div class="text-muted" >
		{$tooltip contrato_ov prenumero }		</div>
	</div>
</div>


{END prenumero_fieldblock}
	
								</td>
			{END cellblock_section3_c10}
			 
																

{BEGIN cellblock_section3_c11}
<td
	{$cell_section3_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN numregistro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numregistro}  r-vertical-field" 
	data-signal-error-for="numregistro{$id}" {$required_attr_numregistro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="numregistro" data-fieldname="numregistro" >

	<label class="r-edit-label control-label" for="{$labelfor_numregistro}">
		{BEGIN numregistro_label}{$label contrato_ov numregistro }{END numregistro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$numregistro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="numregistro" {$tooltipAttr contrato_ov numregistro } >
		<div class="text-muted" >
		{$tooltip contrato_ov numregistro }		</div>
	</div>
</div>


{END numregistro_fieldblock}
	
								</td>
			{END cellblock_section3_c11}
								</tr>
	 
	 
														<tr {$row_section3_1} >
										

{BEGIN cellblock_section3_c8}
<td
	{$cell_section3_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_codrubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_codrubro}  r-vertical-field" 
	data-signal-error-for="cont_codrubro{$id}" {$required_attr_cont_codrubro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="cont_codrubro" data-fieldname="cont_codrubro" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_codrubro}">
		{BEGIN cont_codrubro_label}{$label contrato_ov cont_codrubro }{END cont_codrubro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_codrubro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_codrubro" {$tooltipAttr contrato_ov cont_codrubro } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_codrubro }		</div>
	</div>
</div>


{END cont_codrubro_fieldblock}
	
								</td>
			{END cellblock_section3_c8}
			 
																

{BEGIN cellblock_section3_c9}
<td
	{$cell_section3_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_tipo_rubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipo_rubro}  r-vertical-field" 
	data-signal-error-for="cont_tipo_rubro{$id}" {$required_attr_cont_tipo_rubro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="cont_tipo_rubro" data-fieldname="cont_tipo_rubro" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_tipo_rubro}">
		{BEGIN cont_tipo_rubro_label}{$label contrato_ov cont_tipo_rubro }{END cont_tipo_rubro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_tipo_rubro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_tipo_rubro" {$tooltipAttr contrato_ov cont_tipo_rubro } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_tipo_rubro }		</div>
	</div>
</div>


{END cont_tipo_rubro_fieldblock}
	
								</td>
			{END cellblock_section3_c9}
								</tr>
	 
	 
														<tr {$row_section3_2} >
										

{BEGIN cellblock_section3_c2}
<td
	{$cell_section3_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_catalogo_presupuestal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_catalogo_presupuestal}  r-vertical-field" 
	data-signal-error-for="cont_catalogo_presupuestal{$id}" {$required_attr_cont_catalogo_presupuestal}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cont_catalogo_presupuestal" data-fieldname="cont_catalogo_presupuestal" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_catalogo_presupuestal}">
		{BEGIN cont_catalogo_presupuestal_label}{$label contrato_ov cont_catalogo_presupuestal }{END cont_catalogo_presupuestal_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_catalogo_presupuestal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_catalogo_presupuestal" {$tooltipAttr contrato_ov cont_catalogo_presupuestal } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_catalogo_presupuestal }		</div>
	</div>
</div>


{END cont_catalogo_presupuestal_fieldblock}
	
								</td>
			{END cellblock_section3_c2}
			 
		
							

{BEGIN cellblock_section3_c3}
<td
	{$cell_section3_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c3}
								</tr>
	 
	 
														<tr {$row_section3_3} >
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valorinicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorinicial}  r-vertical-field" 
	data-signal-error-for="cont_valorinicial{$id}" {$required_attr_cont_valorinicial}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="cont_valorinicial" data-fieldname="cont_valorinicial" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_valorinicial}">
		{BEGIN cont_valorinicial_label}{$label contrato_ov cont_valorinicial }{END cont_valorinicial_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_valorinicial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_valorinicial" {$tooltipAttr contrato_ov cont_valorinicial } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_valorinicial }		</div>
	</div>
</div>


{END cont_valorinicial_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
			 
																

{BEGIN cellblock_section3_c}
<td
	{$cell_section3_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valorant_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorant}  r-vertical-field" 
	data-signal-error-for="cont_valorant{$id}" {$required_attr_cont_valorant}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="cont_valorant" data-fieldname="cont_valorant" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_valorant}">
		{BEGIN cont_valorant_label}{$label contrato_ov cont_valorant }{END cont_valorant_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_valorant_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_valorant" {$tooltipAttr contrato_ov cont_valorant } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_valorant }		</div>
	</div>
</div>


{END cont_valorant_fieldblock}
	
								</td>
			{END cellblock_section3_c}
								</tr>
	 
	 
														<tr {$row_section3_4} >
										

{BEGIN cellblock_section3_c14}
<td
	{$cell_section3_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valormensual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-vertical-field" 
	data-signal-error-for="cont_valormensual{$id}" {$required_attr_cont_valormensual}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_valormensual}">
		{BEGIN cont_valormensual_label}{$label contrato_ov cont_valormensual }{END cont_valormensual_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_valormensual_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_valormensual" {$tooltipAttr contrato_ov cont_valormensual } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_valormensual }		</div>
	</div>
</div>


{END cont_valormensual_fieldblock}
	
								</td>
			{END cellblock_section3_c14}
			 
		
							

{BEGIN cellblock_section3_c15}
<td
	{$cell_section3_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c15}
								</tr>
	 
	 
														<tr {$row_section3_5} >
										

{BEGIN cellblock_section3_c6}
<td
	{$cell_section3_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_formapago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_formapago}  r-vertical-field" 
	data-signal-error-for="cont_formapago{$id}" {$required_attr_cont_formapago}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="cont_formapago" data-fieldname="cont_formapago" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_formapago}">
		{BEGIN cont_formapago_label}{$label contrato_ov cont_formapago }{END cont_formapago_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_formapago_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_formapago" {$tooltipAttr contrato_ov cont_formapago } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_formapago }		</div>
	</div>
</div>


{END cont_formapago_fieldblock}
	
								</td>
			{END cellblock_section3_c6}
			 
																

{BEGIN cellblock_section3_c7}
<td
	{$cell_section3_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_periodicidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_periodicidad}  r-vertical-field" 
	data-signal-error-for="cont_periodicidad{$id}" {$required_attr_cont_periodicidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="cont_periodicidad" data-fieldname="cont_periodicidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_periodicidad}">
		{BEGIN cont_periodicidad_label}{$label contrato_ov cont_periodicidad }{END cont_periodicidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_periodicidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_periodicidad" {$tooltipAttr contrato_ov cont_periodicidad } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_periodicidad }		</div>
	</div>
</div>


{END cont_periodicidad_fieldblock}
	
								</td>
			{END cellblock_section3_c7}
								</tr>
	 
	 
														<tr {$row_section3_6} >
										

{BEGIN cellblock_section3_c12}
<td
	{$cell_section3_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechasistema_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechasistema}  r-vertical-field" 
	data-signal-error-for="cont_fechasistema{$id}" {$required_attr_cont_fechasistema}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="cont_fechasistema" data-fieldname="cont_fechasistema" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fechasistema}">
		{BEGIN cont_fechasistema_label}{$label contrato_ov cont_fechasistema }{END cont_fechasistema_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fechasistema_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fechasistema" {$tooltipAttr contrato_ov cont_fechasistema } >
		<div class="text-muted" >
		{$tooltip contrato_ov cont_fechasistema }		</div>
	</div>
</div>


{END cont_fechasistema_fieldblock}
	
								</td>
			{END cellblock_section3_c12}
			 
		
							

{BEGIN cellblock_section3_c13}
<td
	{$cell_section3_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c13}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
				</div>
	</div>
</div>  	
				 
	 
		
					<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="2"
	>
	<tbody>
						<tr>
						

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c5}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
					<img src="{$file_url images/menuicons/Save%20as-WF.png}" />
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-info   
	" id="backButton{$id}" >
					<img src="{$file_url images/menuicons/In-WF.png}" />
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-info   
	" id="cancelButton{$id}" >
					<img src="{$file_url images/menuicons/Power%20Off-01-WF.png}" />
							Cancelar			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
