<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_attached edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="contrato_attached_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-vertical-field" 
	data-signal-error-for="id_cont_fk{$id}" {$required_attr_id_cont_fk}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" >

	<label class="r-edit-label control-label" for="{$labelfor_id_cont_fk}">
		{BEGIN id_cont_fk_label}{$label contrato_attached id_cont_fk }{END id_cont_fk_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_cont_fk" {$tooltipAttr contrato_attached id_cont_fk } >
		<div class="text-muted" >
		{$tooltip contrato_attached id_cont_fk }		</div>
	</div>
</div>


{END id_cont_fk_fieldblock}
											
{BEGIN att_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_att_type}  r-vertical-field" 
	data-signal-error-for="att_type{$id}" {$required_attr_att_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="att_type" data-fieldname="att_type" >

	<label class="r-edit-label control-label" for="{$labelfor_att_type}">
		{BEGIN att_type_label}{$label contrato_attached att_type }{END att_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$att_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="att_type" {$tooltipAttr contrato_attached att_type } >
		<div class="text-muted" >
		{$tooltip contrato_attached att_type }		</div>
	</div>
</div>


{END att_type_fieldblock}
											
{BEGIN att_file_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_att_file}  r-vertical-field" 
	data-signal-error-for="att_file{$id}" {$required_attr_att_file}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="att_file" data-fieldname="att_file" >

	<label class="r-edit-label control-label" for="{$labelfor_att_file}">
		{BEGIN att_file_label}{$label contrato_attached att_file }{END att_file_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$att_file_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="att_file" {$tooltipAttr contrato_attached att_file } >
		<div class="text-muted" >
		{$tooltip contrato_attached att_file }		</div>
	</div>
</div>


{END att_file_fieldblock}
											
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" 
	data-signal-error-for="sys_user{$id}" {$required_attr_sys_user}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >

	<label class="r-edit-label control-label" for="{$labelfor_sys_user}">
		{BEGIN sys_user_label}{$label contrato_attached sys_user }{END sys_user_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sys_user" {$tooltipAttr contrato_attached sys_user } >
		<div class="text-muted" >
		{$tooltip contrato_attached sys_user }		</div>
	</div>
</div>


{END sys_user_fieldblock}
											
{BEGIN sys_time_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_time}  r-vertical-field" 
	data-signal-error-for="sys_time{$id}" {$required_attr_sys_time}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="sys_time" data-fieldname="sys_time" >

	<label class="r-edit-label control-label" for="{$labelfor_sys_time}">
		{BEGIN sys_time_label}{$label contrato_attached sys_time }{END sys_time_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sys_time_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sys_time" {$tooltipAttr contrato_attached sys_time } >
		<div class="text-muted" >
		{$tooltip contrato_attached sys_time }		</div>
	</div>
</div>


{END sys_time_fieldblock}
											
{BEGIN att_cod_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_att_cod}  r-vertical-field" 
	data-signal-error-for="att_cod{$id}" {$required_attr_att_cod}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="att_cod" data-fieldname="att_cod" >

	<label class="r-edit-label control-label" for="{$labelfor_att_cod}">
		{BEGIN att_cod_label}{$label contrato_attached att_cod }{END att_cod_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$att_cod_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="att_cod" {$tooltipAttr contrato_attached att_cod } >
		<div class="text-muted" >
		{$tooltip contrato_attached att_cod }		</div>
	</div>
</div>


{END att_cod_fieldblock}
											
{BEGIN cont_pre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_pre}  r-vertical-field" 
	data-signal-error-for="cont_pre{$id}" {$required_attr_cont_pre}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cont_pre" data-fieldname="cont_pre" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_pre}">
		{BEGIN cont_pre_label}{$label contrato_attached cont_pre }{END cont_pre_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_pre_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_pre" {$tooltipAttr contrato_attached cont_pre } >
		<div class="text-muted" >
		{$tooltip contrato_attached cont_pre }		</div>
	</div>
</div>


{END cont_pre_fieldblock}
											
{BEGIN cont_num_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_num}  r-vertical-field" 
	data-signal-error-for="cont_num{$id}" {$required_attr_cont_num}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cont_num" data-fieldname="cont_num" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_num}">
		{BEGIN cont_num_label}{$label contrato_attached cont_num }{END cont_num_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_num_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_num" {$tooltipAttr contrato_attached cont_num } >
		<div class="text-muted" >
		{$tooltip contrato_attached cont_num }		</div>
	</div>
</div>


{END cont_num_fieldblock}
											
{BEGIN cont_vigencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_vigencia}  r-vertical-field" 
	data-signal-error-for="cont_vigencia{$id}" {$required_attr_cont_vigencia}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="cont_vigencia" data-fieldname="cont_vigencia" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_vigencia}">
		{BEGIN cont_vigencia_label}{$label contrato_attached cont_vigencia }{END cont_vigencia_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_vigencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_vigencia" {$tooltipAttr contrato_attached cont_vigencia } >
		<div class="text-muted" >
		{$tooltip contrato_attached cont_vigencia }		</div>
	</div>
</div>


{END cont_vigencia_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="contrato_attached_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
