<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_modifica_cesion view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_tipo}  r-vertical-field" data-fieldname="mod_tipo" data-signal-error-for="mod_tipo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="mod_tipo" data-fieldname="mod_tipo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_tipo}">
		
		{BEGIN mod_tipo_label}{$label contrato_modifica_cesion mod_tipo }{END mod_tipo_label}
	</label>
	<div class="" >
		{$mod_tipo_value}	</div>

		</div>
		
</div>


{END mod_tipo_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_fecha_suscripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_fecha_suscripcion}  r-vertical-field" data-fieldname="mod_fecha_suscripcion" data-signal-error-for="mod_fecha_suscripcion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="mod_fecha_suscripcion" data-fieldname="mod_fecha_suscripcion" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_fecha_suscripcion}">
		
		{BEGIN mod_fecha_suscripcion_label}{$label contrato_modifica_cesion mod_fecha_suscripcion }{END mod_fecha_suscripcion_label}
	</label>
	<div class="" >
		{$mod_fecha_suscripcion_value}	</div>

		</div>
		
</div>


{END mod_fecha_suscripcion_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_fecha_ini_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_fecha_ini}  r-vertical-field" data-fieldname="mod_fecha_ini" data-signal-error-for="mod_fecha_ini{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="mod_fecha_ini" data-fieldname="mod_fecha_ini" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_fecha_ini}">
		
		{BEGIN mod_fecha_ini_label}{$label contrato_modifica_cesion mod_fecha_ini }{END mod_fecha_ini_label}
	</label>
	<div class="" >
		{$mod_fecha_ini_value}	</div>

		</div>
		
</div>


{END mod_fecha_ini_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_fecha_fin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_fecha_fin}  r-vertical-field" data-fieldname="mod_fecha_fin" data-signal-error-for="mod_fecha_fin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="mod_fecha_fin" data-fieldname="mod_fecha_fin" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_fecha_fin}">
		
		{BEGIN mod_fecha_fin_label}{$label contrato_modifica_cesion mod_fecha_fin }{END mod_fecha_fin_label}
	</label>
	<div class="" >
		{$mod_fecha_fin_value}	</div>

		</div>
		
</div>


{END mod_fecha_fin_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_cedente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_cedente}  r-vertical-field" data-fieldname="mod_cedente" data-signal-error-for="mod_cedente{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="mod_cedente" data-fieldname="mod_cedente" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_cedente}">
		
		{BEGIN mod_cedente_label}{$label contrato_modifica_cesion mod_cedente }{END mod_cedente_label}
	</label>
	<div class="" >
		{$mod_cedente_value}	</div>

		</div>
		
</div>


{END mod_cedente_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_decente_cedula_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_decente_cedula}  r-vertical-field" data-fieldname="mod_decente_cedula" data-signal-error-for="mod_decente_cedula{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="mod_decente_cedula" data-fieldname="mod_decente_cedula" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_decente_cedula}">
		
		{BEGIN mod_decente_cedula_label}{$label contrato_modifica_cesion mod_decente_cedula }{END mod_decente_cedula_label}
	</label>
	<div class="" >
		{$mod_decente_cedula_value}	</div>

		</div>
		
</div>


{END mod_decente_cedula_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_cesionario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_cesionario}  r-vertical-field" data-fieldname="mod_cesionario" data-signal-error-for="mod_cesionario{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="mod_cesionario" data-fieldname="mod_cesionario" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_cesionario}">
		
		{BEGIN mod_cesionario_label}{$label contrato_modifica_cesion mod_cesionario }{END mod_cesionario_label}
	</label>
	<div class="" >
		{$mod_cesionario_value}	</div>

		</div>
		
</div>


{END mod_cesionario_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
																

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_cesionario_cedula_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_cesionario_cedula}  r-vertical-field" data-fieldname="mod_cesionario_cedula" data-signal-error-for="mod_cesionario_cedula{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="mod_cesionario_cedula" data-fieldname="mod_cesionario_cedula" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_cesionario_cedula}">
		
		{BEGIN mod_cesionario_cedula_label}{$label contrato_modifica_cesion mod_cesionario_cedula }{END mod_cesionario_cedula_label}
	</label>
	<div class="" >
		{$mod_cesionario_cedula_value}	</div>

		</div>
		
</div>


{END mod_cesionario_cedula_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_valor}  r-vertical-field" data-fieldname="mod_valor" data-signal-error-for="mod_valor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="mod_valor" data-fieldname="mod_valor" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_valor}">
		
		{BEGIN mod_valor_label}{$label contrato_modifica_cesion mod_valor }{END mod_valor_label}
	</label>
	<div class="" >
		{$mod_valor_value}	</div>

		</div>
		
</div>


{END mod_valor_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
		
							

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c15}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mod_observ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_observ}  r-vertical-field" data-fieldname="mod_observ" data-signal-error-for="mod_observ{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="mod_observ" data-fieldname="mod_observ" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mod_observ}">
		
		{BEGIN mod_observ_label}{$label contrato_modifica_cesion mod_observ }{END mod_observ_label}
	</label>
	<div class="" >
		{$mod_observ_value}	</div>

		</div>
		
</div>


{END mod_observ_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label contrato_modifica_cesion sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
			 
		
							

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c17}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="contrato_modifica_cesion_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
