<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel contractor_master_vinc search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="contractor_id" data-fieldname="contractor_id" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_id}">
		{$label contractor_master_vinc contractor_id }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_id}
	</div>
	<div class="r-search-field">
		{$contractor_id_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_id_editcontrol1}
	</div>
	
</div>

{END contractor_id_fieldblock}
											
{BEGIN contractor_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_type}">
		{$label contractor_master_vinc contractor_type }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_type}
	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol1}
	</div>
	
</div>

{END contractor_type_fieldblock}
											
{BEGIN contractor_doc_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_doc_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_doc_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="contractor_doc_id" data-fieldname="contractor_doc_id" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_doc_id}">
		{$label contractor_master_vinc contractor_doc_id }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_doc_id}
	</div>
	<div class="r-search-field">
		{$contractor_doc_id_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_doc_id_editcontrol1}
	</div>
	
</div>

{END contractor_doc_id_fieldblock}
											
{BEGIN contractor_nombresfull_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_nombresfull}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_nombresfull{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="contractor_nombresfull" data-fieldname="contractor_nombresfull" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_nombresfull}">
		{$label contractor_master_vinc contractor_nombresfull }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_nombresfull}
	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol1}
	</div>
	
</div>

{END contractor_nombresfull_fieldblock}
											
{BEGIN contractor_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="contractor_email" data-fieldname="contractor_email" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email}">
		{$label contractor_master_vinc contractor_email }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email}
	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol1}
	</div>
	
</div>

{END contractor_email_fieldblock}
											
{BEGIN contractor_email_mincit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email_mincit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email_mincit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="contractor_email_mincit" data-fieldname="contractor_email_mincit" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email_mincit}">
		{$label contractor_master_vinc contractor_email_mincit }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email_mincit}
	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol1}
	</div>
	
</div>

{END contractor_email_mincit_fieldblock}
											
{BEGIN contractor_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="contractor_address" data-fieldname="contractor_address" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_address}">
		{$label contractor_master_vinc contractor_address }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_address}
	</div>
	<div class="r-search-field">
		{$contractor_address_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_address_editcontrol1}
	</div>
	
</div>

{END contractor_address_fieldblock}
											
{BEGIN contractor_phone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_phone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_phone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="contractor_phone" data-fieldname="contractor_phone" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_phone}">
		{$label contractor_master_vinc contractor_phone }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_phone}
	</div>
	<div class="r-search-field">
		{$contractor_phone_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_phone_editcontrol1}
	</div>
	
</div>

{END contractor_phone_fieldblock}
											
{BEGIN contractor_mobile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_mobile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_mobile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="contractor_mobile" data-fieldname="contractor_mobile" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_mobile}">
		{$label contractor_master_vinc contractor_mobile }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_mobile}
	</div>
	<div class="r-search-field">
		{$contractor_mobile_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_mobile_editcontrol1}
	</div>
	
</div>

{END contractor_mobile_fieldblock}
											
{BEGIN contractor_city_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_city}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_city{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="contractor_city" data-fieldname="contractor_city" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_city}">
		{$label contractor_master_vinc contractor_city }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_city}
	</div>
	<div class="r-search-field">
		{$contractor_city_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_city_editcontrol1}
	</div>
	
</div>

{END contractor_city_fieldblock}
											
{BEGIN bank_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="bank_name" data-fieldname="bank_name" >


	<label class="r-search-label control-label" for="{$labelfor_bank_name}">
		{$label contractor_master_vinc bank_name }	</label>
	<div class="r-search-option">
		{$searchtype_bank_name}
	</div>
	<div class="r-search-field">
		{$bank_name_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_name_editcontrol1}
	</div>
	
</div>

{END bank_name_fieldblock}
											
{BEGIN bank_cta_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_cta_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="bank_cta_type" data-fieldname="bank_cta_type" >


	<label class="r-search-label control-label" for="{$labelfor_bank_cta_type}">
		{$label contractor_master_vinc bank_cta_type }	</label>
	<div class="r-search-option">
		{$searchtype_bank_cta_type}
	</div>
	<div class="r-search-field">
		{$bank_cta_type_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_cta_type_editcontrol1}
	</div>
	
</div>

{END bank_cta_type_fieldblock}
											
{BEGIN bank_cta_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_cta_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="bank_cta_number" data-fieldname="bank_cta_number" >


	<label class="r-search-label control-label" for="{$labelfor_bank_cta_number}">
		{$label contractor_master_vinc bank_cta_number }	</label>
	<div class="r-search-option">
		{$searchtype_bank_cta_number}
	</div>
	<div class="r-search-field">
		{$bank_cta_number_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_cta_number_editcontrol1}
	</div>
	
</div>

{END bank_cta_number_fieldblock}
											
{BEGIN sys_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >


	<label class="r-search-label control-label" for="{$labelfor_sys_user}">
		{$label contractor_master_vinc sys_user }	</label>
	<div class="r-search-option">
		{$searchtype_sys_user}
	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol1}
	</div>
	
</div>

{END sys_user_fieldblock}
											
{BEGIN sys_level_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_level}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_level{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="sys_level" data-fieldname="sys_level" >


	<label class="r-search-label control-label" for="{$labelfor_sys_level}">
		{$label contractor_master_vinc sys_level }	</label>
	<div class="r-search-option">
		{$searchtype_sys_level}
	</div>
	<div class="r-search-field">
		{$sys_level_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_level_editcontrol1}
	</div>
	
</div>

{END sys_level_fieldblock}
											
{BEGIN sys_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" >


	<label class="r-search-label control-label" for="{$labelfor_sys_status}">
		{$label contractor_master_vinc sys_status }	</label>
	<div class="r-search-option">
		{$searchtype_sys_status}
	</div>
	<div class="r-search-field">
		{$sys_status_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_status_editcontrol1}
	</div>
	
</div>

{END sys_status_fieldblock}
											
{BEGIN sys_last_upd_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_last_upd}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_last_upd{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="sys_last_upd" data-fieldname="sys_last_upd" >


	<label class="r-search-label control-label" for="{$labelfor_sys_last_upd}">
		{$label contractor_master_vinc sys_last_upd }	</label>
	<div class="r-search-option">
		{$searchtype_sys_last_upd}
	</div>
	<div class="r-search-field">
		{$sys_last_upd_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_last_upd_editcontrol1}
	</div>
	
</div>

{END sys_last_upd_fieldblock}
											
{BEGIN groupid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_groupid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="groupid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="groupid" data-fieldname="groupid" >


	<label class="r-search-label control-label" for="{$labelfor_groupid}">
		{$label contractor_master_vinc groupid }	</label>
	<div class="r-search-option">
		{$searchtype_groupid}
	</div>
	<div class="r-search-field">
		{$groupid_editcontrol}	</div>
	<div class="r-search-field">
		{$groupid_editcontrol1}
	</div>
	
</div>

{END groupid_fieldblock}
											
{BEGIN active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >


	<label class="r-search-label control-label" for="{$labelfor_active}">
		{$label contractor_master_vinc active }	</label>
	<div class="r-search-option">
		{$searchtype_active}
	</div>
	<div class="r-search-field">
		{$active_editcontrol}	</div>
	<div class="r-search-field">
		{$active_editcontrol1}
	</div>
	
</div>

{END active_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
