<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel global_users_sup search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idusrglobal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idusrglobal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idusrglobal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idusrglobal" data-fieldname="idusrglobal" >


	<label class="r-search-label control-label" for="{$labelfor_idusrglobal}">
		{$label global_users_sup idusrglobal }	</label>
	<div class="r-search-option">
		{$searchtype_idusrglobal}
	</div>
	<div class="r-search-field">
		{$idusrglobal_editcontrol}	</div>
	<div class="r-search-field">
		{$idusrglobal_editcontrol1}
	</div>
	
</div>

{END idusrglobal_fieldblock}
											
{BEGIN id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_fk" data-fieldname="id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_fk}">
		{$label global_users_sup id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_fk}
	</div>
	<div class="r-search-field">
		{$id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_fk_editcontrol1}
	</div>
	
</div>

{END id_fk_fieldblock}
											
{BEGIN Username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Username}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Username" data-fieldname="Username" >


	<label class="r-search-label control-label" for="{$labelfor_Username}">
		{$label global_users_sup Username }	</label>
	<div class="r-search-option">
		{$searchtype_Username}
	</div>
	<div class="r-search-field">
		{$Username_editcontrol}	</div>
	<div class="r-search-field">
		{$Username_editcontrol1}
	</div>
	
</div>

{END Username_fieldblock}
											
{BEGIN usr_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="usr_email" data-fieldname="usr_email" >


	<label class="r-search-label control-label" for="{$labelfor_usr_email}">
		{$label global_users_sup usr_email }	</label>
	<div class="r-search-option">
		{$searchtype_usr_email}
	</div>
	<div class="r-search-field">
		{$usr_email_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_email_editcontrol1}
	</div>
	
</div>

{END usr_email_fieldblock}
											
{BEGIN usr_nombresfull_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_nombresfull}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_nombresfull{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="usr_nombresfull" data-fieldname="usr_nombresfull" >


	<label class="r-search-label control-label" for="{$labelfor_usr_nombresfull}">
		{$label global_users_sup usr_nombresfull }	</label>
	<div class="r-search-option">
		{$searchtype_usr_nombresfull}
	</div>
	<div class="r-search-field">
		{$usr_nombresfull_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_nombresfull_editcontrol1}
	</div>
	
</div>

{END usr_nombresfull_fieldblock}
											
{BEGIN usr_personalid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_personalid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_personalid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="usr_personalid" data-fieldname="usr_personalid" >


	<label class="r-search-label control-label" for="{$labelfor_usr_personalid}">
		{$label global_users_sup usr_personalid }	</label>
	<div class="r-search-option">
		{$searchtype_usr_personalid}
	</div>
	<div class="r-search-field">
		{$usr_personalid_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_personalid_editcontrol1}
	</div>
	
</div>

{END usr_personalid_fieldblock}
											
{BEGIN global_rol_contratos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_global_rol_contratos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="global_rol_contratos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="global_rol_contratos" data-fieldname="global_rol_contratos" >


	<label class="r-search-label control-label" for="{$labelfor_global_rol_contratos}">
		{$label global_users_sup global_rol_contratos }	</label>
	<div class="r-search-option">
		{$searchtype_global_rol_contratos}
	</div>
	<div class="r-search-field">
		{$global_rol_contratos_editcontrol}	</div>
	<div class="r-search-field">
		{$global_rol_contratos_editcontrol1}
	</div>
	
</div>

{END global_rol_contratos_fieldblock}
											
{BEGIN usr_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field65" {$item_integrated_search_field65} data-pageid="{$pageid}" data-field="usr_dep" data-fieldname="usr_dep" >


	<label class="r-search-label control-label" for="{$labelfor_usr_dep}">
		{$label global_users_sup usr_dep }	</label>
	<div class="r-search-option">
		{$searchtype_usr_dep}
	</div>
	<div class="r-search-field">
		{$usr_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_dep_editcontrol1}
	</div>
	
</div>

{END usr_dep_fieldblock}
											
{BEGIN usr_cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field66" {$item_integrated_search_field66} data-pageid="{$pageid}" data-field="usr_cargo" data-fieldname="usr_cargo" >


	<label class="r-search-label control-label" for="{$labelfor_usr_cargo}">
		{$label global_users_sup usr_cargo }	</label>
	<div class="r-search-option">
		{$searchtype_usr_cargo}
	</div>
	<div class="r-search-field">
		{$usr_cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_cargo_editcontrol1}
	</div>
	
</div>

{END usr_cargo_fieldblock}
											
{BEGIN usr_dep_sup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_dep_sup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_dep_sup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field82" {$item_integrated_search_field82} data-pageid="{$pageid}" data-field="usr_dep_sup" data-fieldname="usr_dep_sup" >


	<label class="r-search-label control-label" for="{$labelfor_usr_dep_sup}">
		{$label global_users_sup usr_dep_sup }	</label>
	<div class="r-search-option">
		{$searchtype_usr_dep_sup}
	</div>
	<div class="r-search-field">
		{$usr_dep_sup_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_dep_sup_editcontrol1}
	</div>
	
</div>

{END usr_dep_sup_fieldblock}
											
{BEGIN usr_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="usr_name" data-fieldname="usr_name" >


	<label class="r-search-label control-label" for="{$labelfor_usr_name}">
		{$label global_users_sup usr_name }	</label>
	<div class="r-search-option">
		{$searchtype_usr_name}
	</div>
	<div class="r-search-field">
		{$usr_name_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_name_editcontrol1}
	</div>
	
</div>

{END usr_name_fieldblock}
											
{BEGIN usr_lname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_lname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usr_lname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="usr_lname" data-fieldname="usr_lname" >


	<label class="r-search-label control-label" for="{$labelfor_usr_lname}">
		{$label global_users_sup usr_lname }	</label>
	<div class="r-search-option">
		{$searchtype_usr_lname}
	</div>
	<div class="r-search-field">
		{$usr_lname_editcontrol}	</div>
	<div class="r-search-field">
		{$usr_lname_editcontrol1}
	</div>
	
</div>

{END usr_lname_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
