<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_cxc_adm view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_consecutivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_consecutivo}  r-vertical-field" data-fieldname="id_consecutivo" data-signal-error-for="id_consecutivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="id_consecutivo" data-fieldname="id_consecutivo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_consecutivo}">
		
		{BEGIN id_consecutivo_label}{$label informe_intersup_cxc_adm id_consecutivo }{END id_consecutivo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_consecutivo_value}	</div>

		
</div>


{END id_consecutivo_fieldblock}
											
{BEGIN cxc_cont_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_cont}  r-vertical-field" data-fieldname="cxc_cont" data-signal-error-for="cxc_cont{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cxc_cont" data-fieldname="cxc_cont" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_cont}">
		
		{BEGIN cxc_cont_label}{$label informe_intersup_cxc_adm cxc_cont }{END cxc_cont_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_cont_value}	</div>

		
</div>


{END cxc_cont_fieldblock}
											
{BEGIN cxc_razonsocial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_razonsocial}  r-vertical-field" data-fieldname="cxc_razonsocial" data-signal-error-for="cxc_razonsocial{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cxc_razonsocial" data-fieldname="cxc_razonsocial" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_razonsocial}">
		
		{BEGIN cxc_razonsocial_label}{$label informe_intersup_cxc_adm cxc_razonsocial }{END cxc_razonsocial_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_razonsocial_value}	</div>

		
</div>


{END cxc_razonsocial_fieldblock}
											
{BEGIN cxc_periodoi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_periodoi}  r-vertical-field" data-fieldname="cxc_periodoi" data-signal-error-for="cxc_periodoi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="cxc_periodoi" data-fieldname="cxc_periodoi" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_periodoi}">
		
		{BEGIN cxc_periodoi_label}{$label informe_intersup_cxc_adm cxc_periodoi }{END cxc_periodoi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_periodoi_value}	</div>

		
</div>


{END cxc_periodoi_fieldblock}
											
{BEGIN cxc_periodof_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_periodof}  r-vertical-field" data-fieldname="cxc_periodof" data-signal-error-for="cxc_periodof{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="cxc_periodof" data-fieldname="cxc_periodof" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_periodof}">
		
		{BEGIN cxc_periodof_label}{$label informe_intersup_cxc_adm cxc_periodof }{END cxc_periodof_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_periodof_value}	</div>

		
</div>


{END cxc_periodof_fieldblock}
											
{BEGIN cxc_valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_valor}  r-vertical-field" data-fieldname="cxc_valor" data-signal-error-for="cxc_valor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="cxc_valor" data-fieldname="cxc_valor" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_valor}">
		
		{BEGIN cxc_valor_label}{$label informe_intersup_cxc_adm cxc_valor }{END cxc_valor_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_valor_value}	</div>

		
</div>


{END cxc_valor_fieldblock}
											
{BEGIN cxc_planilla_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planilla}  r-vertical-field" data-fieldname="cxc_planilla" data-signal-error-for="cxc_planilla{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="cxc_planilla" data-fieldname="cxc_planilla" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_planilla}">
		
		{BEGIN cxc_planilla_label}{$label informe_intersup_cxc_adm cxc_planilla }{END cxc_planilla_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_planilla_value}	</div>

		
</div>


{END cxc_planilla_fieldblock}
											
{BEGIN cxc_planillafecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planillafecha}  r-vertical-field" data-fieldname="cxc_planillafecha" data-signal-error-for="cxc_planillafecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="cxc_planillafecha" data-fieldname="cxc_planillafecha" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_planillafecha}">
		
		{BEGIN cxc_planillafecha_label}{$label informe_intersup_cxc_adm cxc_planillafecha }{END cxc_planillafecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_planillafecha_value}	</div>

		
</div>


{END cxc_planillafecha_fieldblock}
											
{BEGIN cxc_planillavalor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planillavalor}  r-vertical-field" data-fieldname="cxc_planillavalor" data-signal-error-for="cxc_planillavalor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="cxc_planillavalor" data-fieldname="cxc_planillavalor" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cxc_planillavalor}">
		
		{BEGIN cxc_planillavalor_label}{$label informe_intersup_cxc_adm cxc_planillavalor }{END cxc_planillavalor_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cxc_planillavalor_value}	</div>

		
</div>


{END cxc_planillavalor_fieldblock}
											
{BEGIN sup_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_name}  r-vertical-field" data-fieldname="sup_name" data-signal-error-for="sup_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="sup_name" data-fieldname="sup_name" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_name}">
		
		{BEGIN sup_name_label}{$label informe_intersup_cxc_adm sup_name }{END sup_name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_name_value}	</div>

		
</div>


{END sup_name_fieldblock}
											
{BEGIN sup_cargo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_cargo}  r-vertical-field" data-fieldname="sup_cargo" data-signal-error-for="sup_cargo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="sup_cargo" data-fieldname="sup_cargo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_cargo}">
		
		{BEGIN sup_cargo_label}{$label informe_intersup_cxc_adm sup_cargo }{END sup_cargo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_cargo_value}	</div>

		
</div>


{END sup_cargo_fieldblock}
											
{BEGIN sup_dep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_dep}  r-vertical-field" data-fieldname="sup_dep" data-signal-error-for="sup_dep{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="sup_dep" data-fieldname="sup_dep" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_dep}">
		
		{BEGIN sup_dep_label}{$label informe_intersup_cxc_adm sup_dep }{END sup_dep_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_dep_value}	</div>

		
</div>


{END sup_dep_fieldblock}
											
{BEGIN inf_mes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mes}  r-vertical-field" data-fieldname="inf_mes" data-signal-error-for="inf_mes{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="inf_mes" data-fieldname="inf_mes" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_mes}">
		
		{BEGIN inf_mes_label}{$label informe_intersup_cxc_adm inf_mes }{END inf_mes_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_mes_value}	</div>

		
</div>


{END inf_mes_fieldblock}
											
{BEGIN inf_tipopago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_tipopago}  r-vertical-field" data-fieldname="inf_tipopago" data-signal-error-for="inf_tipopago{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="inf_tipopago" data-fieldname="inf_tipopago" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_tipopago}">
		
		{BEGIN inf_tipopago_label}{$label informe_intersup_cxc_adm inf_tipopago }{END inf_tipopago_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_tipopago_value}	</div>

		
</div>


{END inf_tipopago_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="informe_intersup_cxc_adm_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
