<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_oe_borrar view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN oe_ordinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_oe_ordinal}  r-vertical-field" data-fieldname="oe_ordinal" data-signal-error-for="oe_ordinal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="oe_ordinal" data-fieldname="oe_ordinal" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_oe_ordinal}">
		
		{BEGIN oe_ordinal_label}{$label informe_intersup_oe_borrar oe_ordinal }{END oe_ordinal_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$oe_ordinal_value}	</div>

		
</div>


{END oe_ordinal_fieldblock}
											
{BEGIN oe_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_oe}  r-vertical-field" data-fieldname="oe" data-signal-error-for="oe{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="oe" data-fieldname="oe" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_oe}">
		
		{BEGIN oe_label}{$label informe_intersup_oe_borrar oe }{END oe_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$oe_value}	</div>

		
</div>


{END oe_fieldblock}
											
{BEGIN actividad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_actividad}  r-vertical-field" data-fieldname="actividad" data-signal-error-for="actividad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="actividad" data-fieldname="actividad" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_actividad}">
		
		{BEGIN actividad_label}{$label informe_intersup_oe_borrar actividad }{END actividad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$actividad_value}	</div>

		
</div>


{END actividad_fieldblock}
											
{BEGIN evidencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_evidencia}  r-vertical-field" data-fieldname="evidencia" data-signal-error-for="evidencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="evidencia" data-fieldname="evidencia" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_evidencia}">
		
		{BEGIN evidencia_label}{$label informe_intersup_oe_borrar evidencia }{END evidencia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$evidencia_value}	</div>

		
</div>


{END evidencia_fieldblock}
											
{BEGIN sup_aprueba_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_aprueba}  r-vertical-field" data-fieldname="sup_aprueba" data-signal-error-for="sup_aprueba{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="sup_aprueba" data-fieldname="sup_aprueba" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_aprueba}">
		
		{BEGIN sup_aprueba_label}{$label informe_intersup_oe_borrar sup_aprueba }{END sup_aprueba_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_aprueba_value}	</div>

		
</div>


{END sup_aprueba_fieldblock}
											
{BEGIN sup_obs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_obs}  r-vertical-field" data-fieldname="sup_obs" data-signal-error-for="sup_obs{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="sup_obs" data-fieldname="sup_obs" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_obs}">
		
		{BEGIN sup_obs_label}{$label informe_intersup_oe_borrar sup_obs }{END sup_obs_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_obs_value}	</div>

		
</div>


{END sup_obs_fieldblock}
											
{BEGIN isoe_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_isoe_id}  r-vertical-field" data-fieldname="isoe_id" data-signal-error-for="isoe_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="isoe_id" data-fieldname="isoe_id" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_isoe_id}">
		
		{BEGIN isoe_id_label}{$label informe_intersup_oe_borrar isoe_id }{END isoe_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$isoe_id_value}	</div>

		
</div>


{END isoe_id_fieldblock}
											
{BEGIN inf_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_id_fk}  r-vertical-field" data-fieldname="inf_id_fk" data-signal-error-for="inf_id_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="inf_id_fk" data-fieldname="inf_id_fk" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_id_fk}">
		
		{BEGIN inf_id_fk_label}{$label informe_intersup_oe_borrar inf_id_fk }{END inf_id_fk_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_id_fk_value}	</div>

		
</div>


{END inf_id_fk_fieldblock}
											
{BEGIN oe_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_oe_id_fk}  r-vertical-field" data-fieldname="oe_id_fk" data-signal-error-for="oe_id_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="oe_id_fk" data-fieldname="oe_id_fk" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_oe_id_fk}">
		
		{BEGIN oe_id_fk_label}{$label informe_intersup_oe_borrar oe_id_fk }{END oe_id_fk_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$oe_id_fk_value}	</div>

		
</div>


{END oe_id_fk_fieldblock}
											
{BEGIN id_cont_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-vertical-field" data-fieldname="id_cont_fk" data-signal-error-for="id_cont_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_cont_fk}">
		
		{BEGIN id_cont_fk_label}{$label informe_intersup_oe_borrar id_cont_fk }{END id_cont_fk_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_cont_fk_value}	</div>

		
</div>


{END id_cont_fk_fieldblock}
											
{BEGIN cont_nit_contra_ta_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta_fk}  r-vertical-field" data-fieldname="cont_nit_contra_ta_fk" data-signal-error-for="cont_nit_contra_ta_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cont_nit_contra_ta_fk" data-fieldname="cont_nit_contra_ta_fk" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cont_nit_contra_ta_fk}">
		
		{BEGIN cont_nit_contra_ta_fk_label}{$label informe_intersup_oe_borrar cont_nit_contra_ta_fk }{END cont_nit_contra_ta_fk_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cont_nit_contra_ta_fk_value}	</div>

		
</div>


{END cont_nit_contra_ta_fk_fieldblock}
											
{BEGIN sup_fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_fecha}  r-vertical-field" data-fieldname="sup_fecha" data-signal-error-for="sup_fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="sup_fecha" data-fieldname="sup_fecha" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sup_fecha}">
		
		{BEGIN sup_fecha_label}{$label informe_intersup_oe_borrar sup_fecha }{END sup_fecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sup_fecha_value}	</div>

		
</div>


{END sup_fecha_fieldblock}
											
{BEGIN sys_last_upd_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_last_upd}  r-vertical-field" data-fieldname="sys_last_upd" data-signal-error-for="sys_last_upd{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="sys_last_upd" data-fieldname="sys_last_upd" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sys_last_upd}">
		
		{BEGIN sys_last_upd_label}{$label informe_intersup_oe_borrar sys_last_upd }{END sys_last_upd_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sys_last_upd_value}	</div>

		
</div>


{END sys_last_upd_fieldblock}
											
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label informe_intersup_oe_borrar sys_user }{END sys_user_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sys_user_value}	</div>

		
</div>


{END sys_user_fieldblock}
											
{BEGIN evidencia_sup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_evidencia_sup}  r-vertical-field" data-fieldname="evidencia_sup" data-signal-error-for="evidencia_sup{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="evidencia_sup" data-fieldname="evidencia_sup" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_evidencia_sup}">
		
		{BEGIN evidencia_sup_label}{$label informe_intersup_oe_borrar evidencia_sup }{END evidencia_sup_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$evidencia_sup_value}	</div>

		
</div>


{END evidencia_sup_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="informe_intersup_oe_borrar_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
