<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel q_bandejaentrada_supervisores view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont}  r-vertical-field" data-fieldname="id_cont" data-signal-error-for="id_cont{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_cont" data-fieldname="id_cont" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_cont}">
		
		{BEGIN id_cont_label}{$label q_bandejaentrada_supervisores id_cont }{END id_cont_label}
	</label>
	<div class="" >
		{$id_cont_value}	</div>

		</div>
		
</div>


{END id_cont_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
		
							

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_nit_contra_ta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta}  r-vertical-field" data-fieldname="cont_nit_contra_ta" data-signal-error-for="cont_nit_contra_ta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_nit_contra_ta}">
		
		{BEGIN cont_nit_contra_ta_label}{$label q_bandejaentrada_supervisores cont_nit_contra_ta }{END cont_nit_contra_ta_label}
	</label>
	<div class="" >
		{$cont_nit_contra_ta_value}	</div>

		</div>
		
</div>


{END cont_nit_contra_ta_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_nit_contra_taname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_taname}  r-vertical-field" data-fieldname="cont_nit_contra_taname" data-signal-error-for="cont_nit_contra_taname{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cont_nit_contra_taname" data-fieldname="cont_nit_contra_taname" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_nit_contra_taname}">
		
		{BEGIN cont_nit_contra_taname_label}{$label q_bandejaentrada_supervisores cont_nit_contra_taname }{END cont_nit_contra_taname_label}
	</label>
	<div class="" >
		{$cont_nit_contra_taname_value}	</div>

		</div>
		
</div>


{END cont_nit_contra_taname_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_estado}  r-vertical-field" data-fieldname="cont_estado" data-signal-error-for="cont_estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cont_estado" data-fieldname="cont_estado" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_estado}">
		
		{BEGIN cont_estado_label}{$label q_bandejaentrada_supervisores cont_estado }{END cont_estado_label}
	</label>
	<div class="" >
		{$cont_estado_value}	</div>

		</div>
		
</div>


{END cont_estado_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN numcontrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numcontrato}  r-vertical-field" data-fieldname="numcontrato" data-signal-error-for="numcontrato{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="numcontrato" data-fieldname="numcontrato" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_numcontrato}">
		
		{BEGIN numcontrato_label}{$label q_bandejaentrada_supervisores numcontrato }{END numcontrato_label}
	</label>
	<div class="" >
		{$numcontrato_value}	</div>

		</div>
		
</div>


{END numcontrato_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pre_contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pre_contnumero}  r-vertical-field" data-fieldname="pre_contnumero" data-signal-error-for="pre_contnumero{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="pre_contnumero" data-fieldname="pre_contnumero" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_pre_contnumero}">
		
		{BEGIN pre_contnumero_label}{$label q_bandejaentrada_supervisores pre_contnumero }{END pre_contnumero_label}
	</label>
	<div class="" >
		{$pre_contnumero_value}	</div>

		</div>
		
</div>


{END pre_contnumero_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contnumero}  r-vertical-field" data-fieldname="contnumero" data-signal-error-for="contnumero{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="contnumero" data-fieldname="contnumero" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contnumero}">
		
		{BEGIN contnumero_label}{$label q_bandejaentrada_supervisores contnumero }{END contnumero_label}
	</label>
	<div class="" >
		{$contnumero_value}	</div>

		</div>
		
</div>


{END contnumero_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_ano_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_ano}  r-vertical-field" data-fieldname="cont_ano" data-signal-error-for="cont_ano{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="cont_ano" data-fieldname="cont_ano" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_ano}">
		
		{BEGIN cont_ano_label}{$label q_bandejaentrada_supervisores cont_ano }{END cont_ano_label}
	</label>
	<div class="" >
		{$cont_ano_value}	</div>

		</div>
		
</div>


{END cont_ano_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_codrubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_codrubro}  r-vertical-field" data-fieldname="cont_codrubro" data-signal-error-for="cont_codrubro{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cont_codrubro" data-fieldname="cont_codrubro" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_codrubro}">
		
		{BEGIN cont_codrubro_label}{$label q_bandejaentrada_supervisores cont_codrubro }{END cont_codrubro_label}
	</label>
	<div class="" >
		{$cont_codrubro_value}	</div>

		</div>
		
</div>


{END cont_codrubro_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_catalogo_presupuestal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_catalogo_presupuestal}  r-vertical-field" data-fieldname="cont_catalogo_presupuestal" data-signal-error-for="cont_catalogo_presupuestal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="cont_catalogo_presupuestal" data-fieldname="cont_catalogo_presupuestal" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_catalogo_presupuestal}">
		
		{BEGIN cont_catalogo_presupuestal_label}{$label q_bandejaentrada_supervisores cont_catalogo_presupuestal }{END cont_catalogo_presupuestal_label}
	</label>
	<div class="" >
		{$cont_catalogo_presupuestal_value}	</div>

		</div>
		
</div>


{END cont_catalogo_presupuestal_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
		
							

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c13}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_inicio}  r-vertical-field" data-fieldname="cont_fecha_inicio" data-signal-error-for="cont_fecha_inicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_fecha_inicio}">
		
		{BEGIN cont_fecha_inicio_label}{$label q_bandejaentrada_supervisores cont_fecha_inicio }{END cont_fecha_inicio_label}
	</label>
	<div class="" >
		{$cont_fecha_inicio_value}	</div>

		</div>
		
</div>


{END cont_fecha_inicio_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
																

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechafinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechafinal}  r-vertical-field" data-fieldname="cont_fechafinal" data-signal-error-for="cont_fechafinal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_fechafinal}">
		
		{BEGIN cont_fechafinal_label}{$label q_bandejaentrada_supervisores cont_fechafinal }{END cont_fechafinal_label}
	</label>
	<div class="" >
		{$cont_fechafinal_value}	</div>

		</div>
		
</div>


{END cont_fechafinal_fieldblock}
	
								</td>
			{END cellblock_grid_c15}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_periodicidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_periodicidad}  r-vertical-field" data-fieldname="cont_periodicidad" data-signal-error-for="cont_periodicidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cont_periodicidad" data-fieldname="cont_periodicidad" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_periodicidad}">
		
		{BEGIN cont_periodicidad_label}{$label q_bandejaentrada_supervisores cont_periodicidad }{END cont_periodicidad_label}
	</label>
	<div class="" >
		{$cont_periodicidad_value}	</div>

		</div>
		
</div>


{END cont_periodicidad_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
			 
																

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valorinicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorinicial}  r-vertical-field" data-fieldname="cont_valorinicial" data-signal-error-for="cont_valorinicial{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="cont_valorinicial" data-fieldname="cont_valorinicial" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_valorinicial}">
		
		{BEGIN cont_valorinicial_label}{$label q_bandejaentrada_supervisores cont_valorinicial }{END cont_valorinicial_label}
	</label>
	<div class="" >
		{$cont_valorinicial_value}	</div>

		</div>
		
</div>


{END cont_valorinicial_fieldblock}
	
								</td>
			{END cellblock_grid_c17}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valormensual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-vertical-field" data-fieldname="cont_valormensual" data-signal-error-for="cont_valormensual{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_valormensual}">
		
		{BEGIN cont_valormensual_label}{$label q_bandejaentrada_supervisores cont_valormensual }{END cont_valormensual_label}
	</label>
	<div class="" >
		{$cont_valormensual_value}	</div>

		</div>
		
</div>


{END cont_valormensual_fieldblock}
	
								</td>
			{END cellblock_grid_c18}
			 
																

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_secop_enlace_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_enlace}  r-vertical-field" data-fieldname="cont_secop_enlace" data-signal-error-for="cont_secop_enlace{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_secop_enlace}">
		
		{BEGIN cont_secop_enlace_label}{$label q_bandejaentrada_supervisores cont_secop_enlace }{END cont_secop_enlace_label}
	</label>
	<div class="" >
		{$cont_secop_enlace_value}	</div>

		</div>
		
</div>


{END cont_secop_enlace_fieldblock}
											
{BEGIN contractor_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-vertical-field" data-fieldname="contractor_type" data-signal-error-for="contractor_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_type}">
		
		{BEGIN contractor_type_label}{$label q_bandejaentrada_supervisores contractor_type }{END contractor_type_label}
	</label>
	<div class="" >
		{$contractor_type_value}	</div>

		</div>
		
</div>


{END contractor_type_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
