<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel q_bandejaentrada_supervisores_consulta search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_type}">
		{$label q_bandejaentrada_supervisores_consulta contractor_type }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_type}
	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol1}
	</div>
	
</div>

{END contractor_type_fieldblock}
											
{BEGIN cont_nit_contra_ta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_nit_contra_ta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" >


	<label class="r-search-label control-label" for="{$labelfor_cont_nit_contra_ta}">
		{$label q_bandejaentrada_supervisores_consulta cont_nit_contra_ta }	</label>
	<div class="r-search-option">
		{$searchtype_cont_nit_contra_ta}
	</div>
	<div class="r-search-field">
		{$cont_nit_contra_ta_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_nit_contra_ta_editcontrol1}
	</div>
	
</div>

{END cont_nit_contra_ta_fieldblock}
											
{BEGIN contractor_nombresfull_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_nombresfull}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_nombresfull{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="contractor_nombresfull" data-fieldname="contractor_nombresfull" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_nombresfull}">
		{$label q_bandejaentrada_supervisores_consulta contractor_nombresfull }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_nombresfull}
	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol1}
	</div>
	
</div>

{END contractor_nombresfull_fieldblock}
											
{BEGIN contractor_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="contractor_email" data-fieldname="contractor_email" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email}">
		{$label q_bandejaentrada_supervisores_consulta contractor_email }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email}
	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol1}
	</div>
	
</div>

{END contractor_email_fieldblock}
											
{BEGIN contractor_email_mincit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email_mincit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email_mincit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="contractor_email_mincit" data-fieldname="contractor_email_mincit" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email_mincit}">
		{$label q_bandejaentrada_supervisores_consulta contractor_email_mincit }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email_mincit}
	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol1}
	</div>
	
</div>

{END contractor_email_mincit_fieldblock}
											
{BEGIN numcontrato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numcontrato}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="numcontrato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="numcontrato" data-fieldname="numcontrato" >


	<label class="r-search-label control-label" for="{$labelfor_numcontrato}">
		{$label q_bandejaentrada_supervisores_consulta numcontrato }	</label>
	<div class="r-search-option">
		{$searchtype_numcontrato}
	</div>
	<div class="r-search-field">
		{$numcontrato_editcontrol}	</div>
	<div class="r-search-field">
		{$numcontrato_editcontrol1}
	</div>
	
</div>

{END numcontrato_fieldblock}
											
{BEGIN cont_ano_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_ano}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_ano{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cont_ano" data-fieldname="cont_ano" >


	<label class="r-search-label control-label" for="{$labelfor_cont_ano}">
		{$label q_bandejaentrada_supervisores_consulta cont_ano }	</label>
	<div class="r-search-option">
		{$searchtype_cont_ano}
	</div>
	<div class="r-search-field">
		{$cont_ano_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_ano_editcontrol1}
	</div>
	
</div>

{END cont_ano_fieldblock}
											
{BEGIN cont_fecha_inicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_inicio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fecha_inicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fecha_inicio}">
		{$label q_bandejaentrada_supervisores_consulta cont_fecha_inicio }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fecha_inicio}
	</div>
	<div class="r-search-field">
		{$cont_fecha_inicio_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fecha_inicio_editcontrol1}
	</div>
	
</div>

{END cont_fecha_inicio_fieldblock}
											
{BEGIN cont_fechafinal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechafinal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fechafinal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fechafinal}">
		{$label q_bandejaentrada_supervisores_consulta cont_fechafinal }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fechafinal}
	</div>
	<div class="r-search-field">
		{$cont_fechafinal_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fechafinal_editcontrol1}
	</div>
	
</div>

{END cont_fechafinal_fieldblock}
											
{BEGIN PLAZO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PLAZO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PLAZO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="PLAZO" data-fieldname="PLAZO" >


	<label class="r-search-label control-label" for="{$labelfor_PLAZO}">
		{$label q_bandejaentrada_supervisores_consulta PLAZO }	</label>
	<div class="r-search-option">
		{$searchtype_PLAZO}
	</div>
	<div class="r-search-field">
		{$PLAZO_editcontrol}	</div>
	<div class="r-search-field">
		{$PLAZO_editcontrol1}
	</div>
	
</div>

{END PLAZO_fieldblock}
											
{BEGIN cont_periodicidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_periodicidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_periodicidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="cont_periodicidad" data-fieldname="cont_periodicidad" >


	<label class="r-search-label control-label" for="{$labelfor_cont_periodicidad}">
		{$label q_bandejaentrada_supervisores_consulta cont_periodicidad }	</label>
	<div class="r-search-option">
		{$searchtype_cont_periodicidad}
	</div>
	<div class="r-search-field">
		{$cont_periodicidad_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_periodicidad_editcontrol1}
	</div>
	
</div>

{END cont_periodicidad_fieldblock}
											
{BEGIN cont_valorinicial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorinicial}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_valorinicial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="cont_valorinicial" data-fieldname="cont_valorinicial" >


	<label class="r-search-label control-label" for="{$labelfor_cont_valorinicial}">
		{$label q_bandejaentrada_supervisores_consulta cont_valorinicial }	</label>
	<div class="r-search-option">
		{$searchtype_cont_valorinicial}
	</div>
	<div class="r-search-field">
		{$cont_valorinicial_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_valorinicial_editcontrol1}
	</div>
	
</div>

{END cont_valorinicial_fieldblock}
											
{BEGIN cont_valormensual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_valormensual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" >


	<label class="r-search-label control-label" for="{$labelfor_cont_valormensual}">
		{$label q_bandejaentrada_supervisores_consulta cont_valormensual }	</label>
	<div class="r-search-option">
		{$searchtype_cont_valormensual}
	</div>
	<div class="r-search-field">
		{$cont_valormensual_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_valormensual_editcontrol1}
	</div>
	
</div>

{END cont_valormensual_fieldblock}
											
{BEGIN cont_estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="cont_estado" data-fieldname="cont_estado" >


	<label class="r-search-label control-label" for="{$labelfor_cont_estado}">
		{$label q_bandejaentrada_supervisores_consulta cont_estado }	</label>
	<div class="r-search-option">
		{$searchtype_cont_estado}
	</div>
	<div class="r-search-field">
		{$cont_estado_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_estado_editcontrol1}
	</div>
	
</div>

{END cont_estado_fieldblock}
											
{BEGIN documento_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_documento_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="documento_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="documento_id" data-fieldname="documento_id" >


	<label class="r-search-label control-label" for="{$labelfor_documento_id}">
		{$label q_bandejaentrada_supervisores_consulta documento_id }	</label>
	<div class="r-search-option">
		{$searchtype_documento_id}
	</div>
	<div class="r-search-field">
		{$documento_id_editcontrol}	</div>
	<div class="r-search-field">
		{$documento_id_editcontrol1}
	</div>
	
</div>

{END documento_id_fieldblock}
											
{BEGIN nombresupfull_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombresupfull}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombresupfull{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="nombresupfull" data-fieldname="nombresupfull" >


	<label class="r-search-label control-label" for="{$labelfor_nombresupfull}">
		{$label q_bandejaentrada_supervisores_consulta nombresupfull }	</label>
	<div class="r-search-option">
		{$searchtype_nombresupfull}
	</div>
	<div class="r-search-field">
		{$nombresupfull_editcontrol}	</div>
	<div class="r-search-field">
		{$nombresupfull_editcontrol1}
	</div>
	
</div>

{END nombresupfull_fieldblock}
											
{BEGIN cargo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cargo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cargo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="cargo_id" data-fieldname="cargo_id" >


	<label class="r-search-label control-label" for="{$labelfor_cargo_id}">
		{$label q_bandejaentrada_supervisores_consulta cargo_id }	</label>
	<div class="r-search-option">
		{$searchtype_cargo_id}
	</div>
	<div class="r-search-field">
		{$cargo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cargo_id_editcontrol1}
	</div>
	
</div>

{END cargo_id_fieldblock}
											
{BEGIN sup_mailnot_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_mailnot}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sup_mailnot{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="sup_mailnot" data-fieldname="sup_mailnot" >


	<label class="r-search-label control-label" for="{$labelfor_sup_mailnot}">
		{$label q_bandejaentrada_supervisores_consulta sup_mailnot }	</label>
	<div class="r-search-option">
		{$searchtype_sup_mailnot}
	</div>
	<div class="r-search-field">
		{$sup_mailnot_editcontrol}	</div>
	<div class="r-search-field">
		{$sup_mailnot_editcontrol1}
	</div>
	
</div>

{END sup_mailnot_fieldblock}
											
{BEGIN nombre_cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nombre_cargo" data-fieldname="nombre_cargo" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_cargo}">
		{$label q_bandejaentrada_supervisores_consulta nombre_cargo }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_cargo}
	</div>
	<div class="r-search-field">
		{$nombre_cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_cargo_editcontrol1}
	</div>
	
</div>

{END nombre_cargo_fieldblock}
											
{BEGIN nombre_dependencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_dependencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_dependencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="nombre_dependencia" data-fieldname="nombre_dependencia" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_dependencia}">
		{$label q_bandejaentrada_supervisores_consulta nombre_dependencia }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_dependencia}
	</div>
	<div class="r-search-field">
		{$nombre_dependencia_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_dependencia_editcontrol1}
	</div>
	
</div>

{END nombre_dependencia_fieldblock}
											
{BEGIN sup_fechanot_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_fechanot}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sup_fechanot{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="sup_fechanot" data-fieldname="sup_fechanot" >


	<label class="r-search-label control-label" for="{$labelfor_sup_fechanot}">
		{$label q_bandejaentrada_supervisores_consulta sup_fechanot }	</label>
	<div class="r-search-option">
		{$searchtype_sup_fechanot}
	</div>
	<div class="r-search-field">
		{$sup_fechanot_editcontrol}	</div>
	<div class="r-search-field">
		{$sup_fechanot_editcontrol1}
	</div>
	
</div>

{END sup_fechanot_fieldblock}
											
{BEGIN prenumero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prenumero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prenumero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="prenumero" data-fieldname="prenumero" >


	<label class="r-search-label control-label" for="{$labelfor_prenumero}">
		{$label q_bandejaentrada_supervisores_consulta prenumero }	</label>
	<div class="r-search-option">
		{$searchtype_prenumero}
	</div>
	<div class="r-search-field">
		{$prenumero_editcontrol}	</div>
	<div class="r-search-field">
		{$prenumero_editcontrol1}
	</div>
	
</div>

{END prenumero_fieldblock}
											
{BEGIN numregistro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numregistro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="numregistro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="numregistro" data-fieldname="numregistro" >


	<label class="r-search-label control-label" for="{$labelfor_numregistro}">
		{$label q_bandejaentrada_supervisores_consulta numregistro }	</label>
	<div class="r-search-option">
		{$searchtype_numregistro}
	</div>
	<div class="r-search-field">
		{$numregistro_editcontrol}	</div>
	<div class="r-search-field">
		{$numregistro_editcontrol1}
	</div>
	
</div>

{END numregistro_fieldblock}
											
{BEGIN cont_unspsc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_unspsc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_unspsc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="cont_unspsc" data-fieldname="cont_unspsc" >


	<label class="r-search-label control-label" for="{$labelfor_cont_unspsc}">
		{$label q_bandejaentrada_supervisores_consulta cont_unspsc }	</label>
	<div class="r-search-option">
		{$searchtype_cont_unspsc}
	</div>
	<div class="r-search-field">
		{$cont_unspsc_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_unspsc_editcontrol1}
	</div>
	
</div>

{END cont_unspsc_fieldblock}
											
{BEGIN cont_tipo_rubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipo_rubro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipo_rubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="cont_tipo_rubro" data-fieldname="cont_tipo_rubro" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipo_rubro}">
		{$label q_bandejaentrada_supervisores_consulta cont_tipo_rubro }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipo_rubro}
	</div>
	<div class="r-search-field">
		{$cont_tipo_rubro_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipo_rubro_editcontrol1}
	</div>
	
</div>

{END cont_tipo_rubro_fieldblock}
											
{BEGIN cont_tipopre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipopre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipopre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="cont_tipopre" data-fieldname="cont_tipopre" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipopre}">
		{$label q_bandejaentrada_supervisores_consulta cont_tipopre }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipopre}
	</div>
	<div class="r-search-field">
		{$cont_tipopre_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipopre_editcontrol1}
	</div>
	
</div>

{END cont_tipopre_fieldblock}
											
{BEGIN cont_codrubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_codrubro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_codrubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="cont_codrubro" data-fieldname="cont_codrubro" >


	<label class="r-search-label control-label" for="{$labelfor_cont_codrubro}">
		{$label q_bandejaentrada_supervisores_consulta cont_codrubro }	</label>
	<div class="r-search-option">
		{$searchtype_cont_codrubro}
	</div>
	<div class="r-search-field">
		{$cont_codrubro_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_codrubro_editcontrol1}
	</div>
	
</div>

{END cont_codrubro_fieldblock}
											
{BEGIN cont_catalogo_presupuestal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_catalogo_presupuestal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_catalogo_presupuestal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="cont_catalogo_presupuestal" data-fieldname="cont_catalogo_presupuestal" >


	<label class="r-search-label control-label" for="{$labelfor_cont_catalogo_presupuestal}">
		{$label q_bandejaentrada_supervisores_consulta cont_catalogo_presupuestal }	</label>
	<div class="r-search-option">
		{$searchtype_cont_catalogo_presupuestal}
	</div>
	<div class="r-search-field">
		{$cont_catalogo_presupuestal_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_catalogo_presupuestal_editcontrol1}
	</div>
	
</div>

{END cont_catalogo_presupuestal_fieldblock}
											
{BEGIN ctb_tipo_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ctb_tipo_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ctb_tipo_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="ctb_tipo_nombre" data-fieldname="ctb_tipo_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_ctb_tipo_nombre}">
		{$label q_bandejaentrada_supervisores_consulta ctb_tipo_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_ctb_tipo_nombre}
	</div>
	<div class="r-search-field">
		{$ctb_tipo_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$ctb_tipo_nombre_editcontrol1}
	</div>
	
</div>

{END ctb_tipo_nombre_fieldblock}
											
{BEGIN Departamento_superior_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Departamento_superior}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Departamento_superior{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Departamento_superior" data-fieldname="Departamento_superior" >


	<label class="r-search-label control-label" for="{$labelfor_Departamento_superior}">
		{$label q_bandejaentrada_supervisores_consulta Departamento_superior }	</label>
	<div class="r-search-option">
		{$searchtype_Departamento_superior}
	</div>
	<div class="r-search-field">
		{$Departamento_superior_editcontrol}	</div>
	<div class="r-search-field">
		{$Departamento_superior_editcontrol1}
	</div>
	
</div>

{END Departamento_superior_fieldblock}
											
{BEGIN dependencia_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dependencia_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dependencia_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="dependencia_id" data-fieldname="dependencia_id" >


	<label class="r-search-label control-label" for="{$labelfor_dependencia_id}">
		{$label q_bandejaentrada_supervisores_consulta dependencia_id }	</label>
	<div class="r-search-option">
		{$searchtype_dependencia_id}
	</div>
	<div class="r-search-field">
		{$dependencia_id_editcontrol}	</div>
	<div class="r-search-field">
		{$dependencia_id_editcontrol1}
	</div>
	
</div>

{END dependencia_id_fieldblock}
											
{BEGIN cont_fecha_aprobgarantia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_aprobgarantia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fecha_aprobgarantia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="cont_fecha_aprobgarantia" data-fieldname="cont_fecha_aprobgarantia" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fecha_aprobgarantia}">
		{$label q_bandejaentrada_supervisores_consulta cont_fecha_aprobgarantia }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fecha_aprobgarantia}
	</div>
	<div class="r-search-field">
		{$cont_fecha_aprobgarantia_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fecha_aprobgarantia_editcontrol1}
	</div>
	
</div>

{END cont_fecha_aprobgarantia_fieldblock}
											
{BEGIN cont_fechaapertura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechaapertura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fechaapertura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="cont_fechaapertura" data-fieldname="cont_fechaapertura" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fechaapertura}">
		{$label q_bandejaentrada_supervisores_consulta cont_fechaapertura }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fechaapertura}
	</div>
	<div class="r-search-field">
		{$cont_fechaapertura_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fechaapertura_editcontrol1}
	</div>
	
</div>

{END cont_fechaapertura_fieldblock}
											
{BEGIN cont_munejec_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_munejec}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_munejec{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="cont_munejec" data-fieldname="cont_munejec" >


	<label class="r-search-label control-label" for="{$labelfor_cont_munejec}">
		{$label q_bandejaentrada_supervisores_consulta cont_munejec }	</label>
	<div class="r-search-option">
		{$searchtype_cont_munejec}
	</div>
	<div class="r-search-field">
		{$cont_munejec_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_munejec_editcontrol1}
	</div>
	
</div>

{END cont_munejec_fieldblock}
											
{BEGIN cont_objeto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_objeto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_objeto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="cont_objeto" data-fieldname="cont_objeto" >


	<label class="r-search-label control-label" for="{$labelfor_cont_objeto}">
		{$label q_bandejaentrada_supervisores_consulta cont_objeto }	</label>
	<div class="r-search-option">
		{$searchtype_cont_objeto}
	</div>
	<div class="r-search-field">
		{$cont_objeto_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_objeto_editcontrol1}
	</div>
	
</div>

{END cont_objeto_fieldblock}
											
{BEGIN cont_secop_proceso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_proceso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_secop_proceso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="cont_secop_proceso" data-fieldname="cont_secop_proceso" >


	<label class="r-search-label control-label" for="{$labelfor_cont_secop_proceso}">
		{$label q_bandejaentrada_supervisores_consulta cont_secop_proceso }	</label>
	<div class="r-search-option">
		{$searchtype_cont_secop_proceso}
	</div>
	<div class="r-search-field">
		{$cont_secop_proceso_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_secop_proceso_editcontrol1}
	</div>
	
</div>

{END cont_secop_proceso_fieldblock}
											
{BEGIN cont_secop_enlace_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_enlace}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_secop_enlace{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" >


	<label class="r-search-label control-label" for="{$labelfor_cont_secop_enlace}">
		{$label q_bandejaentrada_supervisores_consulta cont_secop_enlace }	</label>
	<div class="r-search-option">
		{$searchtype_cont_secop_enlace}
	</div>
	<div class="r-search-field">
		{$cont_secop_enlace_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_secop_enlace_editcontrol1}
	</div>
	
</div>

{END cont_secop_enlace_fieldblock}
											
{BEGIN id_cont_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="id_cont" data-fieldname="id_cont" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont}">
		{$label q_bandejaentrada_supervisores_consulta id_cont }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont}
	</div>
	<div class="r-search-field">
		{$id_cont_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_editcontrol1}
	</div>
	
</div>

{END id_cont_fieldblock}
											
{BEGIN cont_causalc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_causalc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_causalc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="cont_causalc" data-fieldname="cont_causalc" >


	<label class="r-search-label control-label" for="{$labelfor_cont_causalc}">
		{$label q_bandejaentrada_supervisores_consulta cont_causalc }	</label>
	<div class="r-search-option">
		{$searchtype_cont_causalc}
	</div>
	<div class="r-search-field">
		{$cont_causalc_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_causalc_editcontrol1}
	</div>
	
</div>

{END cont_causalc_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
