<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h3 class="panel-title" data-itemtype="masterprint_header" data-itemid="masterprint_header" {$item_masterprint_header} data-pageid="{$pageid}" >{$pagetitlelabel q_bandejaentrada_supervisores3 masterprint}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_cont_class}	"

			data-field="id_cont"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_cont_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_cont" data-fieldname="id_cont" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 id_cont }</span>
			</span>
	</span>
{END id_cont_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_ta_class}	"

			data-field="cont_nit_contra_ta"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_ta_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_nit_contra_ta }</span>
			</span>
	</span>
{END cont_nit_contra_ta_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_taname_class}	"

			data-field="cont_nit_contra_taname"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_taname_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_taname" data-fieldname="cont_nit_contra_taname" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_nit_contra_taname }</span>
			</span>
	</span>
{END cont_nit_contra_taname_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$numcontrato_class}	"

			data-field="numcontrato"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN numcontrato_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="numcontrato" data-fieldname="numcontrato" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 numcontrato }</span>
			</span>
	</span>
{END numcontrato_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_ano_class}	"

			data-field="cont_ano"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_ano_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_ano" data-fieldname="cont_ano" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_ano }</span>
			</span>
	</span>
{END cont_ano_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fecha_inicio_class}	"

			data-field="cont_fecha_inicio"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fecha_inicio_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_fecha_inicio }</span>
			</span>
	</span>
{END cont_fecha_inicio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fechafinal_class}	"

			data-field="cont_fechafinal"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fechafinal_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_fechafinal }</span>
			</span>
	</span>
{END cont_fechafinal_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_valormensual_class}	"

			data-field="cont_valormensual"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valormensual_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valormensual" data-fieldname="cont_valormensual" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_valormensual }</span>
			</span>
	</span>
{END cont_valormensual_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_secop_enlace_class}	"

			data-field="cont_secop_enlace"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_secop_enlace_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" 

	
	
	>
	<span class="text-label">
		<span>{$label q_bandejaentrada_supervisores3 cont_secop_enlace }</span>
			</span>
	</span>
{END cont_secop_enlace_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_cont_class}	"

			data-field="id_cont"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_cont_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_cont" data-fieldname="id_cont" data-default-width >
{$id_cont_value}
</span>
{END id_cont_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_ta_class}	"

			data-field="cont_nit_contra_ta"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_ta_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" data-default-width >
{$cont_nit_contra_ta_value}
</span>
{END cont_nit_contra_ta_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_taname_class}	"

			data-field="cont_nit_contra_taname"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_taname_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_taname" data-fieldname="cont_nit_contra_taname" data-default-width >
{$cont_nit_contra_taname_value}
</span>
{END cont_nit_contra_taname_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$numcontrato_class}	"

			data-field="numcontrato"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN numcontrato_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="numcontrato" data-fieldname="numcontrato" data-default-width >
{$numcontrato_value}
</span>
{END numcontrato_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_ano_class}	"

			data-field="cont_ano"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_ano_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_ano" data-fieldname="cont_ano" data-default-width >
{$cont_ano_value}
</span>
{END cont_ano_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fecha_inicio_class}	"

			data-field="cont_fecha_inicio"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fecha_inicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" data-default-width >
{$cont_fecha_inicio_value}
</span>
{END cont_fecha_inicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fechafinal_class}	"

			data-field="cont_fechafinal"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fechafinal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" data-default-width >
{$cont_fechafinal_value}
</span>
{END cont_fechafinal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_valormensual_class}	"

			data-field="cont_valormensual"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valormensual_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valormensual" data-fieldname="cont_valormensual" data-default-width >
{$cont_valormensual_value}
</span>
{END cont_valormensual_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_secop_enlace_class}	"

			data-field="cont_secop_enlace"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_secop_enlace_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" data-default-width >
{$cont_secop_enlace_value}
</span>
{END cont_secop_enlace_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_cont_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_ta_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_nit_contra_taname_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$numcontrato_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_ano_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fecha_inicio_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_fechafinal_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_valormensual_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cont_secop_enlace_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_bandejaentrada_supervisores3_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
