<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel q_s_ctrl_pagado_001 print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CONTRATOID_class}	"

			data-field="CONTRATOID"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CONTRATOID_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CONTRATOID" data-fieldname="CONTRATOID" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 CONTRATOID }</span>
			</span>
	</span>
{END CONTRATOID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VIGENCIA_class}	"

			data-field="VIGENCIA"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VIGENCIA_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VIGENCIA" data-fieldname="VIGENCIA" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 VIGENCIA }</span>
			</span>
	</span>
{END VIGENCIA_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_type_class}	"

			data-field="contractor_type"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_type_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_type" data-fieldname="contractor_type" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 contractor_type }</span>
			</span>
	</span>
{END contractor_type_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$DOCID_class}	"

			data-field="DOCID"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DOCID_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DOCID" data-fieldname="DOCID" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 DOCID }</span>
			</span>
	</span>
{END DOCID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_nombresfull_class}	"

			data-field="contractor_nombresfull"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_nombresfull_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_nombresfull" data-fieldname="contractor_nombresfull" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 contractor_nombresfull }</span>
			</span>
	</span>
{END contractor_nombresfull_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_email_class}	"

			data-field="contractor_email"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_email" data-fieldname="contractor_email" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 contractor_email }</span>
			</span>
	</span>
{END contractor_email_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombresupfull_class}	"

			data-field="nombresupfull"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombresupfull_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombresupfull" data-fieldname="nombresupfull" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 nombresupfull }</span>
			</span>
	</span>
{END nombresupfull_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sup_mailnot_class}	"

			data-field="sup_mailnot"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sup_mailnot_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sup_mailnot" data-fieldname="sup_mailnot" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 sup_mailnot }</span>
			</span>
	</span>
{END sup_mailnot_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAI_class}	"

			data-field="FECHAI"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHAI_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHAI" data-fieldname="FECHAI" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 FECHAI }</span>
			</span>
	</span>
{END FECHAI_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAF_class}	"

			data-field="FECHAF"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHAF_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHAF" data-fieldname="FECHAF" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 FECHAF }</span>
			</span>
	</span>
{END FECHAF_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALORI_class}	"

			data-field="VALORI"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALORI_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALORI" data-fieldname="VALORI" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 VALORI }</span>
			</span>
	</span>
{END VALORI_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PAGO_MES_class}	"

			data-field="PAGO_MES"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PAGO_MES_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PAGO_MES" data-fieldname="PAGO_MES" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 PAGO_MES }</span>
			</span>
	</span>
{END PAGO_MES_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$NUMPAGOS_class}	"

			data-field="NUMPAGOS"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NUMPAGOS_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NUMPAGOS" data-fieldname="NUMPAGOS" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 NUMPAGOS }</span>
			</span>
	</span>
{END NUMPAGOS_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALOR_PAGADO_class}	"

			data-field="VALOR_PAGADO"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALOR_PAGADO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALOR_PAGADO" data-fieldname="VALOR_PAGADO" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 VALOR_PAGADO }</span>
			</span>
	</span>
{END VALOR_PAGADO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SALDO_class}	"

			data-field="SALDO"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SALDO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SALDO" data-fieldname="SALDO" 

	
	
	>
	<span class="text-label">
		<span>{$label q_s_ctrl_pagado_001 SALDO }</span>
			</span>
	</span>
{END SALDO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CONTRATOID_class}	"

			data-field="CONTRATOID"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CONTRATOID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CONTRATOID" data-fieldname="CONTRATOID" data-default-width >
{$CONTRATOID_value}
</span>
{END CONTRATOID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VIGENCIA_class}	"

			data-field="VIGENCIA"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VIGENCIA_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VIGENCIA" data-fieldname="VIGENCIA" data-default-width >
{$VIGENCIA_value}
</span>
{END VIGENCIA_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_type_class}	"

			data-field="contractor_type"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_type" data-fieldname="contractor_type" data-default-width >
{$contractor_type_value}
</span>
{END contractor_type_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$DOCID_class}	"

			data-field="DOCID"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DOCID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DOCID" data-fieldname="DOCID" data-default-width >
{$DOCID_value}
</span>
{END DOCID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_nombresfull_class}	"

			data-field="contractor_nombresfull"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_nombresfull_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_nombresfull" data-fieldname="contractor_nombresfull" data-default-width >
{$contractor_nombresfull_value}
</span>
{END contractor_nombresfull_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_email_class}	"

			data-field="contractor_email"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contractor_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contractor_email" data-fieldname="contractor_email" data-default-width >
{$contractor_email_value}
</span>
{END contractor_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombresupfull_class}	"

			data-field="nombresupfull"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombresupfull_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombresupfull" data-fieldname="nombresupfull" data-default-width >
{$nombresupfull_value}
</span>
{END nombresupfull_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sup_mailnot_class}	"

			data-field="sup_mailnot"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sup_mailnot_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sup_mailnot" data-fieldname="sup_mailnot" data-default-width >
{$sup_mailnot_value}
</span>
{END sup_mailnot_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAI_class}	"

			data-field="FECHAI"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHAI_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHAI" data-fieldname="FECHAI" data-default-width >
{$FECHAI_value}
</span>
{END FECHAI_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAF_class}	"

			data-field="FECHAF"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHAF_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHAF" data-fieldname="FECHAF" data-default-width >
{$FECHAF_value}
</span>
{END FECHAF_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALORI_class}	"

			data-field="VALORI"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALORI_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALORI" data-fieldname="VALORI" data-default-width >
{$VALORI_value}
</span>
{END VALORI_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PAGO_MES_class}	"

			data-field="PAGO_MES"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PAGO_MES_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PAGO_MES" data-fieldname="PAGO_MES" data-default-width >
{$PAGO_MES_value}
</span>
{END PAGO_MES_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$NUMPAGOS_class}	"

			data-field="NUMPAGOS"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NUMPAGOS_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NUMPAGOS" data-fieldname="NUMPAGOS" data-default-width >
{$NUMPAGOS_value}
</span>
{END NUMPAGOS_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALOR_PAGADO_class}	"

			data-field="VALOR_PAGADO"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALOR_PAGADO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALOR_PAGADO" data-fieldname="VALOR_PAGADO" data-default-width >
{$VALOR_PAGADO_value}
</span>
{END VALOR_PAGADO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SALDO_class}	"

			data-field="SALDO"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SALDO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SALDO" data-fieldname="SALDO" data-default-width >
{$SALDO_value}
</span>
{END SALDO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CONTRATOID_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VIGENCIA_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_type_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$DOCID_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_nombresfull_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$contractor_email_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombresupfull_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sup_mailnot_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAI_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FECHAF_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALORI_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PAGO_MES_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$NUMPAGOS_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$VALOR_PAGADO_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SALDO_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="q_s_ctrl_pagado_001_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
