<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tipo_contrato search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cont_tipo" data-fieldname="cont_tipo" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipo}">
		{$label tipo_contrato cont_tipo }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipo}
	</div>
	<div class="r-search-field">
		{$cont_tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipo_editcontrol1}
	</div>
	
</div>

{END cont_tipo_fieldblock}
											
{BEGIN nom_tipocontrato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nom_tipocontrato}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nom_tipocontrato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="nom_tipocontrato" data-fieldname="nom_tipocontrato" >


	<label class="r-search-label control-label" for="{$labelfor_nom_tipocontrato}">
		{$label tipo_contrato nom_tipocontrato }	</label>
	<div class="r-search-option">
		{$searchtype_nom_tipocontrato}
	</div>
	<div class="r-search-field">
		{$nom_tipocontrato_editcontrol}	</div>
	<div class="r-search-field">
		{$nom_tipocontrato_editcontrol1}
	</div>
	
</div>

{END nom_tipocontrato_fieldblock}
											
{BEGIN ctrl_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ctrl_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ctrl_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ctrl_pago" data-fieldname="ctrl_pago" >


	<label class="r-search-label control-label" for="{$labelfor_ctrl_pago}">
		{$label tipo_contrato ctrl_pago }	</label>
	<div class="r-search-option">
		{$searchtype_ctrl_pago}
	</div>
	<div class="r-search-field">
		{$ctrl_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$ctrl_pago_editcontrol1}
	</div>
	
</div>

{END ctrl_pago_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
